name: Docker Build & Push

on:
  push:
    branches:
      - main  # Runs the workflow on push to the main branch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Compile Spring Application
        run: mvn clean install package

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build Docker Image
        run: sudo docker build . -t ivancm0/beersp:latest

      - name: Push Docker Image to Docker Hub
        run: docker push ivancm0/beersp:latest

      - name: Trigger Render deploy
        run: curl ${{ secrets.RENDER_DEPLOY_HOOK }}

      - name: Generate JaCoCo Badge
        uses: cicirello/jacoco-badge-generator@v2.12.1
        with:
          generate-branches-badge: true

      - name: Commit and push the badge (if it changed)
        uses: EndBug/add-and-commit@v7
        with:
          default_author: github_actions
          message: 'commit badge'
          add: '*.svg'
